@model randevu.Models.Kullanici
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            @ViewBag.Message
            @using (Html.BeginForm("Login", "Security", FormMethod.Post))
            {
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action="" method="post">
                                <h3 class="text-center text-info">Giriş</h3>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Ad)
                                    @Html.TextBoxFor(m => m.Ad, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Sifre)
                                    @Html.PasswordFor(m => m.Sifre, new { @class = "form-control", placeholder = "Parola" })
                                </div>
                                <div class="form-group">

                                    <button type="submit" class="btn btn-info btn-md">Giriş Yap</button>
                                </div>
                                <div id="register-link" class="text-right">
                                    <a href="#" class="text-info">Register here</a>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</body>
</html>
